body {
  overflow-x: hidden;
  font-family: 'Arial', sans-serif;
  color: #7289da;
}

.form-group {
  width: 55%;
  padding-bottom: 2px;
}

#submitBtn {
  margin-top: 12px;
}

#charNum {
  float: right;
}

#outputBox {
  width: 55%;
  height: 50px;
  border-radius: 5px;
}

#headingText {
  margin-top: 12px;
  padding: 10px 0px;
}

#outputText {
  text-align: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
h4 {
  color: black;
  margin-left: 20px;

}

h5 {
  color: DodgerBlue;
  margin-left: 20px;
 

}

h6 {
  color: black;
  margin-left: 20px;
 

}
